li {
    list-style-type: none;
}
dt {
    line-height: 120%;
}

.chart {
    text-align: center;
    font-size: 6vw;
}

@media only screen and (min-width: 500px) {
  .chart {
    text-align: center;
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 1200px) {
  .chart {
    text-align: center;
    font-size: 2vw;
  }
}



.chart-hint {
    color: #959595;
}
.chart-small {
    text-align: center;
    font-size: 25px;
}
.content {
    padding-top: 80px;
}
.glyphicon-question-sign {
    cursor: help;
}
.chart_center {
	margin: 0 auto;
	max-width: 1200px;
	overflow-x: auto;
	overflow-y: hidden;
}
.dateAxis
{
	font-weight: bold;
}
.flot-tick-label, .legendLabel {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#5e676e;
}
.flot-x-axis .flot-tick-label {
	white-space: nowrap;
	transform:  translate( 0px,90px ) rotate(-90deg);
	transform-origin: top left;
	text-align: right;
	width:100px;
}

#chartdivUsers
{
	width: auto;
	min-width: 600px;
	height: 350px;
	margin-bottom: 40px;
}
#chartdivProviders
{
	width: auto;
	min-width: 200px;
	height: 350px;
	margin-bottom: 40px;
}